*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav1{
    background-color: #2C3E50;
}
#home{
    background-color: #1ABC9C;
    width: 100%;
}
#about{
    color: white;
    background-color:#1ABC9C;
}
#footer{
    background-color:  #2C3E50;
    color: white;
}
.fp{
    font-weight: 400;
}